{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
     <h1><p class="text-center">Falcons News</p></h1>
      <hr>
      {% for story in news %}
      <h2><a href="{% url 'news_detail' story.pk%}">{{ story.title }}</a></h2>
      <small>
         {{ story.created_on.date }} |&nbsp;
         Categories:&nbsp;
         {% for category in story.categories.all %}
         <a href="{% url 'news_category' category.name %}">
             {{ category.name }}
         </a>&nbsp;
         {% endfor %}
     </small>
     <p>{{ story.body | slice:":400" }}...</p>
     {% endfor %}
 </div>
 {% endblock %}
